@model Gymfito.ViewModels.LoginVM

@{
   ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" style="width: 400px; margin: 50px auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 10px">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" style="border: 1px solid #eee; border-radius: 4px;padding: 5px 10px;color: #333; outline: none;" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: flex; flex-direction: column; margin-bottom: 10px">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" style="border: 1px solid #eee; border-radius: 4px;padding: 5px 10px;color: #333; outline: none;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display: flex; flex-direction: column; margin-bottom: 10px">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group" style="    background: rgb(246 122 69 / var(--tw-bg-opacity));
    padding: 8px 50px;
    text-align: center;
    width: fit-content;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;">
               <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
