
	<div class="relative z-[49] mt-[-130px]">
		<div class="absolute top-0 right-0 bottom-0 left-0">
			<img class="absolute top-0 left-0 w-full h-full object-cover object-fit" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/about/pagetitle.png" alt="">
			<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] bg-opacity-70"></div>
		</div>
		<div class="relative max-w-[1320px] mx-auto px-[15px]">
			<div class="pt-[280px] pb-[150px]">
				<div class="flex justify-center">
					<div class="">
						<div class="font-[Teko] text-[60px] font-semibold text-center uppercase">
							<div class="flex items-center gap-[5px]">
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="">Schedule</div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
							</div>
						</div>
						<div class="flex justify-center items-center gap-[20px]">
							<div class="">You are here:</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Home</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Pages</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="relative">
				<div class="absolute top-0 right-0 bottom-0 left-0 hidden xl:grid grid-cols-8">
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="border-r-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class=""></div>
				</div>
				<div class="relative">
					<div class="pt-[150px]"></div>
					<div class="hidden xl:grid grid-cols-8 font-[Teko] font-medium text-[20px] text-center">
						<div class=""></div>
						<div class="">Monday</div>
						<div class="">Tuesday</div>
						<div class="">Wednesday</div>
						<div class="">Thursday</div>
						<div class="">Friday</div>
						<div class="">Saturday</div>
						<div class="">Sunday</div>
					</div>
					<div class="xl:mt-[50px] border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">06.00 - 08.00</div>
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Professor Smith</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block"></div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">Cardio</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block"></div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">CRAZE</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block"></div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">08.00 - 10.00</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block"></div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOOTCAMP</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Ms. Garcia</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">10.00 - 12.00</div>
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">YOGA</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">ZUMBA</div>
													<div class="text-[16px]">Mrs. Johnson</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Ms. Garcia</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">SCULPT</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block">
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">12.00 - 02.00</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">SPIN</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">TONE UP</div>
													<div class="text-[16px]">Mrs. Johnson</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">02.00 - 04.00</div>
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">CARDIO</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">Mr. Rodriguez</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">BOXING</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">MUSCLE</div>
													<div class="text-[16px]">Mrs. Johnson</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">STRETCH</div>
													<div class="text-[16px]">Ms. Garcia</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">04.00 - 06.00</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">WORKOUT</div>
													<div class="text-[16px]">Ms. Thompson</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">CARDIO</div>
													<div class="text-[16px]">Robert Cage</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">HIIT</div>
													<div class="text-[16px]">Mrs. White</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block">
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
					<div class="grid grid-cols-2 md:grid-cols-5 xl:grid-cols-8 text-center">
						<div class="flex items-center">
							<div class=" font-[Teko] font-medium text-[20px]">06.00 - 08.00</div>
						</div>
						<div class="hidden xl:block">
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">RHYTHM</div>
													<div class="text-[16px]">Dr. Patel</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden xl:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">SCULPT</div>
													<div class="text-[16px]">Mrs. Khan</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">POWER</div>
													<div class="text-[16px]">Ms. Wilson</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="hidden md:block">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class=" font-[Teko] font-semibold text-[24px]">FITNESS</div>
													<div class="text-[16px]">Mr. Clark</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="p-[10px]">
								<div data-scroll="[data-scroll-item]" class="">
									<div data-scroll-cog="" class="hidden">
										{
										"scrollTrigger": {
										"trigger": "[data-scroll-item]"

										}
										}
									</div>
									<div data-scroll-item="" class="group">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
											<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<div class="bg-[#D5BDA2] text-[#01010F] p-[10px]">
													<div class="font-[Teko] font-semibold text-[24px]">MAYHEM</div>
													<div class="text-[16px]">Coach Taylor</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="border-t-[1px] border-[#D5BDA2] border-opacity-30"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block py-[150px]">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="flex justify-center font-[Teko] font-semibold text-[225px] leading-[1]">
				<div class="font-[Oswald] text-[185px] leading-[1] text-transparent [-webkit-text-stroke:1px_#D5BDA2]">
					<div data-scroll="[data-scroll-item]" class="">
						<div data-scroll-cog="" class="hidden">
							{
							"scrollTrigger": {
							"trigger": "[data-scroll-item]"

							}
							}
						</div>
						<div data-scroll-item="" class="group">
							<div class="flex">
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">C</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">C</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">C</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">C</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											C
										</div>
									</div>
								</div>
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">H</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">H</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">H</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">H</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											H
										</div>
									</div>
								</div>
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">O</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											O
										</div>
									</div>
								</div>
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">O</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">O</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											O
										</div>
									</div>
								</div>
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">S</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">S</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">S</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">S</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											S
										</div>
									</div>
								</div>
								<div class="">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">E</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">E</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">E</div>
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">E</div>
										<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
											E
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">&nbsp;</div>
				<div class="">PLAN</div>
			</div>
			<div class="flex justify-center items-center gap-[30px]">
				<div class="">
					<div class="">Let’s improve your mental health. Let’s</div>
					<div class="">improve your mental health</div>
				</div>
				<div class="">
					<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/classes/animated-element.svg" alt="">
				</div>
				<div class="">
					<div class="flex items-center gap-[10px] pr-[120px]">
						<div class="px-[10px] border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
						<div class="px-[10px] border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
						<div class="px-[10px] border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
						<div class="px-[10px] border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
						<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
						<a class="group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 border-l-[1px] border-[#D5BDA2] border-opacity-50 group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] bg-opacity-50 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[60px] w-[60px] flex justify-center items-center">
								<div class="relative font-[Teko] font-medium text-[20px]">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/trainer-arrow.svg" alt="">
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="pt-[150px] xl:pt-0 pb-[150px]">
		<div data-slider="" class="relative">
			<div data-slider-cog="" class="hidden">
				{
				"container": ".sliding",
				"items": 1,
				"nav": 0,
				"controls": 0,
				"speed": 80000,
				"autoplay": 1,
				"autoplayButtonOutput": 0
				}
			</div>
			<div class="sliding">
				<div class="">
					<div class="origin-left bg-[#D5BDA2] bg-opacity-80 text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<div class="">&#128170;</div>
							<div class="">show up</div>
							<div class="">&#128170;</div>
							<div class="">never give up</div>
							<div class="">&#128170;</div>
							<div class="">Stronger every rep</div>
							<div class="">&#128170;</div>
							<div class="">prouder every step</div>
							<div class="">&#128170;</div>
							<div class="">Push your limits</div>
							<div class="">&#128170;</div>
							<div class="">stay humble</div>
							<div class="">&#128170;</div>
							<div class="">exceed your expectations</div>
							<div class="">&#128170;</div>
							<div class="">be proud</div>
							<div class="">&#128170;</div>
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="origin-left bg-[#D5BDA2] bg-opacity-80 text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<div class="">&#128170;</div>
							<div class="">show up</div>
							<div class="">&#128170;</div>
							<div class="">never give up</div>
							<div class="">&#128170;</div>
							<div class="">Stronger every rep</div>
							<div class="">&#128170;</div>
							<div class="">prouder every step</div>
							<div class="">&#128170;</div>
							<div class="">Push your limits</div>
							<div class="">&#128170;</div>
							<div class="">stay humble</div>
							<div class="">&#128170;</div>
							<div class="">exceed your expectations</div>
							<div class="">&#128170;</div>
							<div class="">be proud</div>
							<div class="">&#128170;</div>
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="flex">
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 right-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Whether you're a beginner</div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
				</div>
				<div class="border-[10px] border-[#F67A45] bg-[#D5BDA2] text-[#01010F]">
					<div data-scroll="[data-scroll-item]" class="">
						<div data-scroll-cog="" class="hidden">
							{
							"scrollTrigger": {
							"trigger": "[data-scroll-item]"

							}
							}
						</div>
						<div data-scroll-item="" class="group/i">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="group-[:not(.c-active)]/i:scale-y-0 group-[:not(.c-active)]/i:delay-0 delay-[.4s] transition-all duration-[.3s]">
									<div class="p-[50px]">
										<div class="text-center pb-[10px]">
											<div class="font-[Teko] font-semibold text-[36px]">SUBSCRIBE TO OUR NEWSLETTER</div>
										</div>
										<form action="#" class="h-[100px] flex items-center gap-[10px]">
											<div class="">Enter your email</div>
											<div class="flex-1">
												<div class="group/c relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 border-l-[1px] border-[#D5BDA2] border-opacity-50 group-hover/c:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
													<div class="relative">
														<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<input class="w-full h-[30px] px-[10px] group-[:not(:hover)]/c:bg-transparent">
														</div>
														<div class="group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<div class="relative h-[30px] flex items-center">
																<div class="flex-1 border-t-[2px] border-dotted border-[#01010F]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<button class="">
												<img class="brightness-0" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/newsletter.svg" alt="">
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 left-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Seasoned fitness enthusiast</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	