
	<div class="relative max-w-[1320px] mx-auto px-[15px]">
			<div class="flex justify-between items-center h-[90px] font-[Teko] bg-[#D5BDA2] bg-opacity-20 px-[30px]">
				<div class="">
					<a class="flex items-center gap-[5px]" href="/home/index">
						<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/logo.svg" alt="">
						<div class="text-[28px] font-semibold">GYMFITO</div>
					</a>
				</div>
				<div class="hidden xl:block">
					<div class="flex text-[20px] font-medium">
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">HOME</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">HOME</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/home/index">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Home Page One</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Home Page One</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/home2/index2">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Home Page Two</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Home Page Two</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">CLASSES</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">CLASSES</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/classes/classes">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Class List</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Class List</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/ClassDetails/ClassDetails">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Class Details</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Class Details</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">SERVICES</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">SERVICES</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/services/services">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Our Services</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Our Services</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/ServiceDetails/ServiceDetails">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Service Details</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Service Details</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">BLOG</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">BLOG</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/blog/blog">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Blog List</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Blog List</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/blogDetails/blogDetails">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Blog Details</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Blog Details</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">PAGES</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">PAGES</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/AboutUs/AboutUs">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">About Us</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">About Us</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/BMI/BMI">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">BMI Calculator</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">BMI Calculator</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/schedule/schedule">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Schedule</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Schedule</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/pricing/pricing">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Pricing Table</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Pricing Table</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/gallery/gallery">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Gallery</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Gallery</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/contactUs/contactUs">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Contact Us</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Contact Us</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
						<div class="group relative">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-r-[1px] border-[#F67A45] border-opacity-40 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
								<div class="relative h-[90px] flex items-center gap-[5px] px-[20px]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-hover:text-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.06s] transition-all duration-[.3s]">TRAINER</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.06s] transition-all duration-[.3s]">TRAINER</div>
									</div>
									<div class="text-[12px]"><i class="fa fa-angle-down"></i></div>
								</div>
							</div>
							<div class="absolute w-[230px] group-[:not(:hover)]:invisible">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10"></div>
								<div class="relative">
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/trainer/trainer">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Trainer List</div>
													<div class="origin-top group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Trainer List</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
									<a class="" href="/trainerDetails/trainerDetailsl">
										<div class="group/c relative">
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.06s] delay-0 transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.04s] delay-[.02s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.02s] delay-[.04s] transition-all duration-[.3s]"></div>
											<div class="origin-bottom absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]"></div>
											<div class="relative py-[15px] px-[20px]">
												<div class="relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 group-hover/c:text-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Trainer Details</div>
													<div class="origin-bottom group-[:not(:hover)]:scale-y-0 group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.06s] transition-all duration-[.3s]">Trainer Details</div>
												</div>
											</div>
										</div>
									</a>
									<div class="border-t-[1px] border-[#F67A45] border-opacity-40"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="flex items-center">
						<a class="xl:hidden group relative" data-c-toggle="a" href="#offcanvas">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[54px] w-[54px] flex justify-center items-center">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-solid fa-bars"></i>
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-solid fa-bars"></i>
									</div>
								</div>
							</div>
						</a>
						<div class="xl:hidden md:px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<a class="hidden md:block group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[54px] w-[144px] flex justify-center items-center">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">JOIN NOW</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">JOIN NOW</div>
								</div>
							</div>
						</a>
						<div class="hidden md:block px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<a class="hidden md:block group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[30px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-brands fa-facebook-f"></i>
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-brands fa-facebook-f"></i>
									</div>
								</div>
							</div>
						</a>
						<div class="hidden md:block px-[5px] border-t-[1px] border-[#F67A45]"></div>
						<a class="hidden md:block group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[30px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-brands fa-x-twitter"></i>
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										<i class="fa-brands fa-x-twitter"></i>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	
	<div class="relative z-[49] mt-[-130px]">
		<div class="absolute top-0 right-0 bottom-0 left-0">
			<img class="absolute top-0 left-0 w-full h-full object-cover object-fit" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/about/pagetitle.png" alt="">
			<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] bg-opacity-70"></div>
		</div>
		<div class="relative max-w-[1320px] mx-auto px-[15px]">
			<div class="pt-[280px] pb-[150px]">
				<div class="flex justify-center">
					<div class="">
						<div class="font-[Teko] text-[60px] font-semibold text-center uppercase">
							<div class="flex items-center gap-[5px]">
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="">Trainer</div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
							</div>
						</div>
						<div class="flex justify-center items-center gap-[20px]">
							<div class="">You are here:</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Home</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Pages</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="pt-[150px]">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="grid grid-cols-1 xl:grid-cols-2 gap-[50px]">
				<div class="">
					<div class="relative">
						<div data-scroll="[data-scroll-item]" class="">
							<div data-scroll-cog="" class="hidden">
								{
								"scrollTrigger": {
								"trigger": "[data-scroll-item]"

								}
								}
							</div>
							<div data-scroll-item="" class="group/i">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
									<div class="group-[:not(.c-active)]/i:scale-y-0 group-[:not(.c-active)]/i:delay-0 delay-[.4s] transition-all duration-[.3s]">
										<img class="w-full" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/trainer-details/t.png" alt="">
									</div>
								</div>
							</div>
						</div>
						<div class="absolute top-[50px] left-[30px]">
							<div class="flex flex-col items-center gap-[10px]">
								<a class="group relative" href="#">
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] animate-ping"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
									<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
									<div class="relative h-[60px] w-[60px] flex justify-center items-center">
										<div class="relative font-[Teko] font-medium text-[20px]">
											<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<i class="fa fa-play"></i>
											</div>
											<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]">
												<i class="fa fa-play"></i>
											</div>
										</div>
									</div>
								</a>
								<div class="py-[10px] border-l-[10px] border-[#F67A45]"></div>
								<div class="py-[10px] border-l-[7px] border-[#F67A45]"></div>
								<div class="py-[10px] border-l-[4px] border-[#F67A45]"></div>
								<div class="py-[10px] border-l-[3px] border-[#F67A45]"></div>
								<div class="py-[10px] border-l-[1px] border-[#F67A45]"></div>
								<div class="hidden md:block [writing-mode:tb]">Video Introduction</div>
							</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="font-[Teko] font-semibold text-[36px] uppercase">About John Wick C.</div>
					<div class="pt-[30px]"></div>
					<div class="flex justify-between">
						<div class="">
							<img class="w-[50px] md:w-auto" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/trainer-details/b1.svg" alt="">
						</div>
						<div class="">
							<img class="w-[50px] md:w-auto" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/trainer-details/b2.svg" alt="">
						</div>
						<div class="">
							<img class="w-[50px] md:w-auto" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/trainer-details/b3.svg" alt="">
						</div>
						<div class="">
							<img class="w-[50px] md:w-auto" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/trainer-details/b4.svg" alt="">
						</div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="">
						<div class="">We're thrilled to have you here as we embark on a journey towards better</div>
						<div class="">health, strength, and vitality. At our gym, we believe that fitness is</div>
						<div class="">not just a hobby but a way of life. Whether you're a seasoned athlete</div>
						<div class=""> or a beginner taking the first steps towards your fitness journey.</div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="grid grid-cols-1 md:grid-cols-2 gap-[20px]">
						<div class="">
							<div class="flex gap-[10px]">
								<div class="w-[72px] text-[#F67A45]">Address:</div>
								<div class="">
									<div class="">901 N Pitt Str., Suite 170</div>
									<div class="">Alexandria, NY, USA</div>
								</div>
							</div>
						</div>
						<div class="">
							<div class="flex gap-[10px]">
								<div class="w-[72px] text-[#F67A45]">Website:</div>
								<div class="">www.gymfito.com</div>
							</div>
						</div>
						<div class="">
							<div class="flex gap-[10px]">
								<div class="w-[72px] text-[#F67A45]">Email:</div>
								<div class="">example@email.com</div>
							</div>
						</div>
						<div class="">
							<div class="flex gap-[10px]">
								<div class="w-[72px] text-[#F67A45]">Phone:</div>
								<div class="">(406) 555-0120</div>
							</div>
						</div>
					</div>
					<div class="hidden md:block pt-[50px]"></div>
					<div class="hidden md:flex items-center gap-[20px]">
						<div class="text-[#F67A45]">Specialized Area:</div>
						<div class="px-[10px] py-[5px] border-[1px] border-[#D5BDA2] rounded-full">Cardio</div>
						<div class="px-[10px] py-[5px] border-[1px] border-[#D5BDA2] rounded-full">Fitness</div>
						<div class="px-[10px] py-[5px] border-[1px] border-[#D5BDA2] rounded-full">Wellness</div>
						<div class="px-[10px] py-[5px] border-[1px] border-[#D5BDA2] rounded-full">Boxing</div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="flex items-center gap-[20px]">
						<div class="text-[#F67A45]">Follow:</div>
						<div class=""><i class="fa-brands fa-facebook-f"></i></div>
						<div class=""><i class="fa-brands fa-linkedin"></i></div>
						<div class=""><i class="fa-brands fa-x-twitter"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="py-[150px]">
		<div data-slider="" class="relative">
			<div data-slider-cog="" class="hidden">
				{
				"container": ".sliding",
				"items": 1,
				"nav": 0,
				"controls": 0,
				"speed": 80000,
				"autoplay": 1,
				"autoplayButtonOutput": 0
				}
			</div>
			<div class="sliding">
				<div class="">
					<div class="origin-left bg-[#D5BDA2] text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">show up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">never give up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Stronger every rep</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">prouder every step</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Push your limits</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">stay humble</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">exceed your expectations</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">be proud</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="origin-left bg-[#D5BDA2] text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">show up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">never give up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Stronger every rep</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">prouder every step</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Push your limits</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">stay humble</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">exceed your expectations</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">be proud</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block pb-[150px]">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="font-[Teko] font-semibold leading-[1] uppercase text-center">
				<div class="text-[150px]">Contact With OUR</div>
				<div class="flex justify-center items-center gap-[10px]">
					<div class="font-[Oswald] text-[185px] text-transparent [-webkit-text-stroke:1px_#D5BDA2]">
						<div data-scroll="[data-scroll-item]" class="">
							<div data-scroll-cog="" class="hidden">
								{
								"scrollTrigger": {
								"trigger": "[data-scroll-item]"

								}
								}
							</div>
							<div data-scroll-item="" class="group">
								<div class="flex">
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">T</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												T
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">r</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												r
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">a</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												a
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">i</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												i
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">n</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												n
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">e</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												e
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">r</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												r
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-[142px]">&#128170;</div>
					<a class="w-[126px] h-[126px] text-[24px] text-[#01010F] bg-white hover:bg-[#D5BDA2] rounded-full flex items-center justify-center" href="#">
						<div class="">
							<div class="">CONTACT</div>
							<div class="flex items-center gap-[10px]">
								<div class="">US</div>
								<div class="">
									<img class="brightness-0" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-next.svg" alt="">
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="flex">
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 right-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Whether you're a beginner</div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
				</div>
				<div class="border-[10px] border-[#F67A45] bg-[#D5BDA2] text-[#01010F]">
					<div data-scroll="[data-scroll-item]" class="">
						<div data-scroll-cog="" class="hidden">
							{
							"scrollTrigger": {
							"trigger": "[data-scroll-item]"

							}
							}
						</div>
						<div data-scroll-item="" class="group/i">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="group-[:not(.c-active)]/i:scale-y-0 group-[:not(.c-active)]/i:delay-0 delay-[.4s] transition-all duration-[.3s]">
									<div class="p-[50px]">
										<div class="text-center pb-[10px]">
											<div class="font-[Teko] font-semibold text-[36px]">SUBSCRIBE TO OUR NEWSLETTER</div>
										</div>
										<form action="#" class="h-[100px] flex items-center gap-[10px]">
											<div class="">Enter your email</div>
											<div class="flex-1">
												<div class="group/c relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 border-l-[1px] border-[#D5BDA2] border-opacity-50 group-hover/c:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
													<div class="relative">
														<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<input class="w-full h-[30px] px-[10px] group-[:not(:hover)]/c:bg-transparent">
														</div>
														<div class="group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<div class="relative h-[30px] flex items-center">
																<div class="flex-1 border-t-[2px] border-dotted border-[#01010F]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<button class="">
												<img class="brightness-0" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/newsletter.svg" alt="">
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 left-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Seasoned fitness enthusiast</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->

