
	
	<div class="relative z-[49] mt-[-130px]">
		<div class="absolute top-0 right-0 bottom-0 left-0">
			<img class="absolute top-0 left-0 w-full h-full object-cover object-fit" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/about/pagetitle.png" alt="">
			<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] bg-opacity-70"></div>
		</div>
		<div class="relative max-w-[1320px] mx-auto px-[15px]">
			<div class="pt-[280px] pb-[150px]">
				<div class="flex justify-center">
					<div class="">
						<div class="font-[Teko] text-[60px] font-semibold text-center uppercase">
							<div class="flex items-center gap-[5px]">
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="">Pricing</div>
								<div class="flex-1 border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
								<div class="flex-1 border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
							</div>
						</div>
						<div class="flex justify-center items-center gap-[20px]">
							<div class="">You are here:</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Home</div>
							<div class="">
								<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-arrow.svg" alt="">
							</div>
							<div class="">Pages</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="pt-[150px]">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 items-center gap-[30px] text-center">
				<div class="hidden xl:block">
					<div class="font-[Teko] font-semibold text-[36px] uppercase">Basic Package</div>
					<div class="flex justify-center items-center">
						<div class="px-[10px] border-t-[1px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[3px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[4px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[7px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[10px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[7px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[4px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[3px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[1px] border-[#F67A45] border-opacity-50"></div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="flex justify-center">
						<div class="">
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Gym facilities during hours</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Use of cardio &amp; strength equipment</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Access to locker rooms</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Discounted rates on group fitness</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Goal setting session with a trainer</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Extend support to 12 months</div>
							</div>
						</div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="flex justify-center items-center">
						<div class="group relative">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										$1 USD
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										$1 USD
									</div>
								</div>
							</div>
						</div>
						<div class="px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<a class="group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[54px] w-[144px] flex justify-center items-center">
								<div class="relative font-[Teko]">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
								</div>
							</div>
						</a>
						<div class="px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<div class="group relative">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										Month
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										Month
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-[30px]"></div>
					<div class="text-[12px]">Price is in US dollars and excludes tax and handling fees</div>
				</div>
				<div class="">
					<div class="bg-[#F67A45] py-[50px]">
						<div class="font-[Teko] font-semibold text-[36px] uppercase">Business Package</div>
						<div class="flex justify-center items-center">
							<div class="px-[10px] border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[10px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[7px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[4px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[3px] border-[#D5BDA2] border-opacity-50"></div>
							<div class="px-[10px] border-t-[1px] border-[#D5BDA2] border-opacity-50"></div>
						</div>
						<div class="pt-[50px]"></div>
						<div class="flex justify-center">
							<div class="">
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Gym facilities during hours</div>
								</div>
								<div class="pt-[20px]"></div>
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Use of cardio &amp; strength equipment</div>
								</div>
								<div class="pt-[20px]"></div>
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Access to locker rooms</div>
								</div>
								<div class="pt-[20px]"></div>
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Discounted rates on group fitness</div>
								</div>
								<div class="pt-[20px]"></div>
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Goal setting session with a trainer</div>
								</div>
								<div class="pt-[20px]"></div>
								<div class="flex items-center gap-[10px]">
									<div class="flex justify-center items-center w-[26px] h-[26px] bg-white bg-opacity-20 rounded-full">
										<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
									</div>
									<div class="">Extend support to 12 months</div>
								</div>
							</div>
						</div>
						<div class="pt-[50px]"></div>
						<div class="flex justify-center items-center">
							<div class="group relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
											$5 USD
										</div>
										<div class="text-[#01010F] group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
											$5 USD
										</div>
									</div>
								</div>
							</div>
							<div class="px-[20px] border-t-[1px] border-[#D5BDA2]"></div>
							<a class="group relative" href="#">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] bg-opacity-10 border-[1px] border-[#D5BDA2] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="relative h-[54px] w-[144px] flex justify-center items-center">
									<div class="relative font-[Teko]">
										<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
										<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
									</div>
								</div>
							</a>
							<div class="px-[20px] border-t-[1px] border-[#D5BDA2]"></div>
							<div class="group relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
									<div class="relative">
										<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
											Month
										</div>
										<div class="text-[#01010F] group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
											Month
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pt-[30px]"></div>
						<div class="text-[12px]">Price is in US dollars and excludes tax and handling fees</div>
					</div>
				</div>
				<div class="">
					<div class="font-[Teko] font-semibold text-[36px] uppercase">ULTIMATE BOST</div>
					<div class="flex justify-center items-center">
						<div class="px-[10px] border-t-[1px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[3px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[4px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[7px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[10px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[7px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[4px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[3px] border-[#F67A45] border-opacity-50"></div>
						<div class="px-[10px] border-t-[1px] border-[#F67A45] border-opacity-50"></div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="flex justify-center">
						<div class="">
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Gym facilities during hours</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Use of cardio &amp; strength equipment</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Access to locker rooms</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Discounted rates on group fitness</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Goal setting session with a trainer</div>
							</div>
							<div class="pt-[20px]"></div>
							<div class="flex items-center gap-[10px]">
								<div class="flex justify-center items-center w-[26px] h-[26px] bg-[#F67A45] bg-opacity-50 rounded-full">
									<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/check.svg" alt="">
								</div>
								<div class="">Extend support to 12 months</div>
							</div>
						</div>
					</div>
					<div class="pt-[50px]"></div>
					<div class="flex justify-center items-center">
						<div class="group relative">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										$9 USD
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										$9 USD
									</div>
								</div>
							</div>
						</div>
						<div class="px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<a class="group relative" href="#">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[54px] w-[144px] flex justify-center items-center">
								<div class="relative font-[Teko]">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">CHOOSE PLAN</div>
								</div>
							</div>
						</a>
						<div class="px-[20px] border-t-[1px] border-[#F67A45]"></div>
						<div class="group relative">
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-hover:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
							<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] bg-opacity-10 border-[1px] border-[#F67A45] group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
							<div class="relative h-[30px] w-[50px] flex justify-center items-center text-[12px] leading-[1]">
								<div class="relative">
									<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]:scale-y-0 group-[:not(:hover)]:delay-0 delay-[.3s] transition-all duration-[.3s]">
										Month
									</div>
									<div class="group-hover:scale-y-0 group-hover:delay-0 delay-[.3s] transition-all duration-[.3s]">
										Month
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="pt-[30px]"></div>
					<div class="text-[12px]">Price is in US dollars and excludes tax and handling fees</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="py-[150px]">
		<div data-slider="" class="relative">
			<div data-slider-cog="" class="hidden">
				{
				"container": ".sliding",
				"items": 1,
				"nav": 0,
				"controls": 0,
				"speed": 80000,
				"autoplay": 1,
				"autoplayButtonOutput": 0
				}
			</div>
			<div class="sliding">
				<div class="">
					<div class="origin-left bg-[#D5BDA2] text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">show up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">never give up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Stronger every rep</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">prouder every step</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Push your limits</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">stay humble</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">exceed your expectations</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">be proud</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
				<div class="">
					<div class="origin-left bg-[#D5BDA2] text-[#01010F] overflow-hidden py-[20px] transition-all duration-[.3s]">
						<div class="flex whitespace-nowrap items-center justify-center gap-[30px] font-[Teko] font-semibold text-[28px] uppercase">
							<div class="">Rise up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">show up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">never give up</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Stronger every rep</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">prouder every step</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Push your limits</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">stay humble</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">exceed your expectations</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">be proud</div>
							<img class="" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/sliding.svg" alt="">
							<div class="">Believe in yourself</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block pb-[150px]">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="font-[Teko] font-semibold leading-[1] uppercase text-center">
				<div class="text-[150px]">Contact With OUR</div>
				<div class="flex justify-center items-center gap-[10px]">
					<div class="font-[Oswald] text-[185px] text-transparent [-webkit-text-stroke:1px_#D5BDA2]">
						<div data-scroll="[data-scroll-item]" class="">
							<div data-scroll-cog="" class="hidden">
								{
								"scrollTrigger": {
								"trigger": "[data-scroll-item]"

								}
								}
							</div>
							<div data-scroll-item="" class="group">
								<div class="flex">
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">T</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">T</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												T
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">r</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												r
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">a</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">a</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												a
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">i</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">i</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												i
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">n</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">n</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												n
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">e</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">e</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												e
											</div>
										</div>
									</div>
									<div class="">
										<div class="relative">
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#D5BDA2] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.4s] delay-0 transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.3s] delay-[.1s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#01010F] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.2s] delay-[.2s] transition-all duration-[.3s]">r</div>
											<div class="absolute top-0 right-0 bottom-0 left-0 text-[#F67A45] group-[.c-active]:scale-y-0 group-[.c-active]:delay-[.1s] delay-[.3s] transition-all duration-[.3s]">r</div>
											<div class="group-[:not(.c-active)]:scale-y-0 group-[:not(.c-active)]:delay-0 delay-[.4s] transition-all duration-[.3s]">
												r
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-[142px]">&#128170;</div>
					<a class="w-[126px] h-[126px] text-[24px] text-[#01010F] bg-white hover:bg-[#D5BDA2] rounded-full flex items-center justify-center" href="#">
						<div class="">
							<div class="">CONTACT</div>
							<div class="flex items-center gap-[10px]">
								<div class="">US</div>
								<div class="">
									<img class="brightness-0" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/hero-next.svg" alt="">
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- section -->
	<div class="hidden xl:block">
		<div class="max-w-[1320px] mx-auto px-[15px]">
			<div class="flex">
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 right-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="absolute top-0 right-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-bl-full rounded-tl-full"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Whether you're a beginner</div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
				</div>
				<div class="border-[10px] border-[#F67A45] bg-[#D5BDA2] text-[#01010F]">
					<div data-scroll="[data-scroll-item]" class="">
						<div data-scroll-cog="" class="hidden">
							{
							"scrollTrigger": {
							"trigger": "[data-scroll-item]"

							}
							}
						</div>
						<div data-scroll-item="" class="group/i">
							<div class="relative">
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
								<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[.c-active]/i:scale-y-0 group-[.c-active]/i:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
								<div class="group-[:not(.c-active)]/i:scale-y-0 group-[:not(.c-active)]/i:delay-0 delay-[.4s] transition-all duration-[.3s]">
									<div class="p-[50px]">
										<div class="text-center pb-[10px]">
											<div class="font-[Teko] font-semibold text-[36px]">SUBSCRIBE TO OUR NEWSLETTER</div>
										</div>
										<form action="#" class="h-[100px] flex items-center gap-[10px]">
											<div class="">Enter your email</div>
											<div class="flex-1">
												<div class="group/c relative">
													<div class="absolute top-0 right-0 bottom-0 left-0 border-l-[1px] border-[#D5BDA2] border-opacity-50 group-hover/c:scale-y-0 group-hover:delay-0 delay-[.4s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.4s] delay-0 transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#F67A45] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.3s] delay-[.1s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#01010F] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.2s] delay-[.2s] transition-all duration-[.3s]"></div>
													<div class="absolute top-0 right-0 bottom-0 left-0 bg-[#D5BDA2] group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-[.1s] delay-[.3s] transition-all duration-[.3s]"></div>
													<div class="relative">
														<div class="absolute top-0 right-0 bottom-0 left-0 group-[:not(:hover)]/c:scale-y-0 group-[:not(:hover)]/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<input class="w-full h-[30px] px-[10px] group-[:not(:hover)]/c:bg-transparent">
														</div>
														<div class="group-hover/c:scale-y-0 group-hover/c:delay-0 delay-[.4s] transition-all duration-[.3s]">
															<div class="relative h-[30px] flex items-center">
																<div class="flex-1 border-t-[2px] border-dotted border-[#01010F]"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<button class="">
												<img class="brightness-0" src="https://raw.githubusercontent.com/uiaextend/gymfito/main/home/newsletter.svg" alt="">
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="flex-1 relative flex items-center">
					<div class="absolute top-0 left-0 bottom-0 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-3/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="absolute top-0 left-0 bottom-0 m-auto h-2/4 w-1/2 border-[1px] border-[#F67A45] rounded-br-full rounded-tr-full"></div>
					<div class="flex-1 border-t-[10px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[7px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[4px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[3px] border-[#F67A45]"></div>
					<div class="flex-1 border-t-[1px] border-[#F67A45]"></div>
					<div class="relative bg-[#F67A45] py-[10px] px-[30px]">Seasoned fitness enthusiast</div>
				</div>
			</div>
		</div>
	</div>
	